* text=auto eol=lf whitespace=trailing-space,space-before-tab

*.yaml linguist-detectable
*.md text diff=markdown -linguist-documentation
*.json linguist-detectable
.vscode/*.json linguist-language=JSON-with-Comments

index.js -diff linguist-generated
