* text=auto eol=lf whitespace=trailing-space,space-before-tab

*.yaml linguist-detectable
*.md text diff=markdown -linguist-documentation
*.json linguist-detectable
.vscode/*.json linguist-language=JSON-with-Comments -linguist-detectable
test.json -linguist-detectable
package.json -linguist-detectable

index.js -diff linguist-generated
